<!-- Eigenentwicklung -->
{% extends "base.html" %}

{% block app_content %}
    <table class="table table-hover">
        <tr>
            <td width="256px"><img src="{{ team.avatar(256) }}"></td>
            <td>
                <h1>Team: {{ team.teamname }}</h1>
                <br>
                <b>Beschreibung:</b> 
                <p>{{team.beschreibung}}</p>
                <br>
                <b>Mitglieder:</b> 
                <p></p>
                <br>
                <p>
                    <form action="{{ url_for('beitreten', teamname=team.teamname) }}" method="post">
                        {{ form.hidden_tag() }}
                        {{ form.submit(value='Beitreten', class_='btn btn-default') }}
                    </form>
                </p>
                <p>
                    <form action="{{ url_for('austreten', teamname=team.teamname) }}" method="post">
                        {{ form.hidden_tag() }}
                        {{ form.submit(value='Austreten', class_='btn btn-default') }}
                    </form>
                </p>          
                <a href="{{ url_for('termin', teamname=team.teamname) }}"> Termine </a>                
                {% for mitglied in mitglieder %}
                    {% include '_mitglieder.html' %}
                {% endfor %}  
            </td>
        </tr>
    </table>
{% endblock %}